/* GOOGLE FONT IMPORT [POPPINS: 300, 400, & 700] */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

/* VARIABLES */
:root {
	--primary: #d195ff;
	--secondary: #00ff91;
	--gray: #151515;
	--border: 2px solid var(--primary);
	--lightborder: 2px solid var(--secondary);
	--plainborder: 2px solid var(--gray);
	--radius: 10px;
	--shadow: 0 0 0.75rem #000;
	--lightshadow: 0 0 0.4rem #000;
	--glow: 0 0 0.75rem var(--secondary);
}

/* GLOBAL DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

body {
	height: fit-content;
	width: 100vw;
	color: #fff;
	background-color: #0b2d3f;
	overflow-x: hidden;
}

section {
	height: fit-content;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 5rem;
}

/* HEADINGS */
h1 {
	font-size: 3rem;
}

h1,
h2,
h3 {
	font-weight: 400;
}

h2 {
	width: 100%;
	margin: 1rem auto;
	text-align: center;
	color: var(--primary);
}

a {
	text-align: center;
	color: var(--primary);
	text-decoration: none;
	display: grid;
	place-items: center;
}

a:hover {
	color: var(--secondary);
}

#open-nav:hover,
#close-nav:hover,
#intro a:hover,
.project-links a:hover,
button:hover {
	color: var(--secondary);
	border-color: var(--secondary);
	box-shadow: var(--glow);
	transform: scale(1.2);
}

/* DISPLAY FLEX */
nav,
#most-recent,
section,
ul,
li,
.project,
.project-links,
#contact form,
footer,
#find-me,
#magic {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* FLEX DIR: COLUMN */
#introduction,
#most-recent,
#about,
li,
.project,
#contact,
#contact form,
footer {
	flex-direction: column;
}

/* TRANSITIONS */
body,
nav,
#open-nav,
#close-nav,
a,
button,
footer a {
	transition: all 0.2s linear;
}

/* NAV TOGGLE BTNS */
#open-nav,
#close-nav {
	height: 2rem;
	width: 2rem;
	color: var(--primary);
	border: var(--border);
	border-radius: var(--radius);
	position: fixed;
	top: 1rem;
	left: 1rem;
	display: none;
	z-index: 9;
}

/* NAVBAR */
nav {
	height: 4rem;
	width: 100%;
	background-color: var(--gray);
	border-bottom: var(--lightborder);
	box-shadow: var(--shadow);
	position: fixed;
	top: 0;
}

.nav-link {
	width: 15%;
	padding-bottom: 0.2rem;
	border-bottom: var(--border);
}

.nav-link:hover,
.nav-link.active {
	color: var(--secondary);
	border-color: var(--secondary);
}

/* INTRODUCTION SECTION */
#intro {
	width: 70%;
	margin-bottom: 2rem;
	text-align: center;
}

.fa-code {
	color: var(--secondary);
}

#intro a,
.project-links a,
button {
	cursor: pointer;
	height: fit-content;
	width: fit-content;
	margin: 2rem auto 1rem auto;
	padding: 0.5rem;
	background-color: var(--gray);
	border: var(--border);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

#about-tease {
	font-size: 0.75rem;
}

/* MOST RECENT */
#most-recent {
	height: fit-content;
	max-height: 500px;
	width: 50%;
}

#most-recent img {
	height: 300px;
	width: 300px;
	margin: 1rem auto;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

#most-recent a {
	font-size: 1.2rem;
	border-bottom: var(--border);
}

/* ABOUT SECTION */
#about-summary {
	width: 60%;
	margin: 0 auto;
}

#toolkit {
	width: 90%;
}

ul {
	list-style-type: none;
	padding: 1rem;
	text-align: center;
	border: var(--border);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	flex-wrap: wrap;
}

li {
	width: 45%;
	margin: 1rem auto;
}

ul img,
#preferred {
	height: 200px;
	width: 200px;
	margin-top: 0.5rem;
	background-color: var(--primary);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

#preferred {
	color: #000;
	font-weight: 700;
	padding: 0 1rem;
	display: grid;
	place-items: center;
}

/* PROJECTS SECTION */
#projects {
	flex-wrap: wrap;
}

.project {
	height: fit-content;
	width: 45%;
	margin: 1rem auto;
	align-items: center;
}

.project-title {
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}

.project-thumb {
	height: 250px;
	width: 250px;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.project-links {
	width: 90%;
	margin: 1rem auto;
}

.project-links a {
	margin: 0;
}

/* CONTACT SECTION */
#contact {
	margin: 4rem auto;
	justify-content: center;
}

#contact form {
	height: fit-content;
	min-height: 25rem;
	width: 70%;
	padding: 1rem 0;
	text-align: center;
	border: var(--border);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

label {
	width: 70%;
}

#_replyto,
#message {
	width: 80%;
	margin-top: 0.5rem;
	padding: 0.75rem;
	color: #fff;
	background-color: var(--gray);
	border: var(--border);
	border-radius: var(--radius);
}

#message {
	height: 7rem;
}

#_replyto::placeholder,
#message::placeholder {
	color: var(--secondary);
}

#_replyto:focus,
#message:focus {
	box-shadow: var(--glow);
	outline-color: var(--secondary);
}

button {
	color: var(--primary);
}

/* FOOTER */
footer {
	height: fit-content;
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	background-color: var(--gray);
	border-top: var(--lightborder);
	bottom: 0;
}

#find-me,
#magic {
	height: 3rem;
}

footer a {
	font-size: 2rem;
	margin: 0 0.5rem;
	display: inline-block;
}

footer a:hover {
	font-size: 2.1rem;
	text-shadow: var(--glow);
	transform: rotateZ(360deg);
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
	/* NAVBAR & TOGGLERS */
	nav {
		height: 100%;
		width: 70%;
		border-bottom: none;
		border-right: var(--lightborder);
		flex-direction: column;
		left: -70%;
	}

	nav.show {
		left: 0;
	}

	.nav-link {
		width: fit-content;
		padding: 0 0.25rem;
	}

	#open-nav,
	#close-nav.show {
		background-color: #0b2d3f;
		display: grid;
		place-items: center;
	}

	#open-nav.hide {
		display: none;
	}

	h1 {
		font-size: 2rem;
	}

	#toolkit ul,
	#projects {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	#intro,
	#most-recent {
		width: 80%;
		text-align: center;
		margin: 1rem auto;
	}

	#most-recent img {
		height: auto;
		width: 70%;
	}

	#most-recent a {
		font-size: 0.8rem;
	}

	/* ABOUT SECTION */
	#about-summary {
		width: 80%;
	}

	#toolkit li {
		width: auto;
	}

	/* PROJECTS SECTION */
	.project {
		width: 90%;
	}

	.project-links {
		width: 100%;
	}

	/* CONTACT SECTION */
	#contact form {
		width: 90%;
	}

	label {
		width: 90%;
	}

	button {
		margin: 0;
	}

	#magic {
		font-size: 0.75rem;
	}
}
