/* GOOGLE FONT IMPORT [POPPINS: 200, 300, 400, & 500] */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* VARIABLES */
:root {
	--primary: #00fbff;
	--secondary: #151515;
	--primary-light: #0074e7;
	--secondary-light: #fff;
	--border-dark: 2px solid var(--primary);
	--border-light: 2px solid var(--primary-light);
	--radius: 10px;
	--glow-dark: 0 0 0.5rem var(--primary);
	--glow-light: 0 0 0.5rem var(--primary-light);
	--shadow: 0 0 1rem #000;
	--shadow-light: 0 0 0.75rem #000;
}

/* GLOBAL DEFAULTS / RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

body {
	height: fit-content;
	width: 100vw;
	color: #fff;
	background-color: #353535;
	overflow-x: hidden;
	align-items: center;
}

/* HEADINGS */
h1 {
	width: 100%;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
}

h2 {
	width: 100%;
	font-size: 2rem;
	font-weight: 300;
	color: var(--primary);
}

h3,
h4 {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 300;
}

/* LINKS */
a {
	color: #fff;
	text-decoration: none;
}

/* IMAGES */
img {
	width: auto;
	aspect-ratio: 1/1;
	border-radius: var(--radius);
}

/* ALL DISPLAY: FLEX */
body,
nav,
.nav-links,
section,
#intro-text,
#most-recent,
.project,
.project-links,
form {
	display: flex;
}

/* FLEX-DIR COLUMN */
body,
#intro-text,
#most-recent,
#about,
#projects,
#contact,
form {
	flex-direction: column;
}

/* TRANSITION [ ALL, 0.2S, LINEAR ] */
#nav-toggler,
nav,
.nav-links a,
#mode-toggler,
#intro-btn,
#most-recent a,
.project-links a,
form button,
#find-me i,
#magic i {
	transition: all 0.2s linear;
}

/* NAVBAR */
#nav-toggler {
	display: none;
}

nav {
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	background-color: var(--secondary);
	border-bottom: var(--border-dark);
	box-shadow: 0 0 1rem 0.25rem #000;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: space-between;
}

nav img {
	height: 100%;
	width: auto;
}

.nav-links {
	width: 60%;
	justify-content: space-around;
}

.nav-links a {
	padding: 0 0.5rem;
}

.nav-links a:hover {
	color: var(--primary);
}

/* ACTIVE NAV LINK */
.active {
	color: var(--primary);
	border-bottom: var(--border-dark);
}

/* DARK / LIGHT MODE TOGGLER */
#mode-toggler {
	height: fit-content;
	width: fit-content;
	cursor: pointer;
	font-size: 1.25rem;
	padding: 0.5rem;
	display: grid;
	place-items: center;
}

#mode-toggler:hover {
	color: var(--primary);
	transform: rotateZ(360deg);
}

/* DAFAULT IS DARK SO HIDE MOON */
#mode-toggler .fa-moon {
	display: none;
}

/* SECTIONS */
section {
	height: fit-content;
	min-height: 50vh;
	width: 100%;
	max-width: 1100px;
	padding-top: 5rem;
}

/* INTRO SECTION */
#intro {
	align-items: center;
	justify-content: space-evenly;
}

#intro-text {
	width: 50%;
	text-align: center;
}

#intro-btn {
	height: fit-content;
	width: fit-content;
	margin: 2rem auto 0.5rem auto;
	padding: 0.25rem 1rem;
	font-weight: 200;
	background-color: var(--secondary);
	border: var(--border-dark);
	border-radius: var(--radius);
}

#intro-btn:hover {
	font-weight: 400;
	color: #000;
	background-color: var(--primary);
	border-color: var(--secondary);
	box-shadow: var(--glow-dark);
}

#intro-text p {
	margin-top: 0.5rem;
	font-size: 0.6rem;
}

#most-recent {
	width: 40%;
	text-align: center;
	align-items: center;
}

#most-recent img {
	height: 300px;
	margin: 1rem;
	box-shadow: var(--glow-dark);
}

#most-recent a {
	padding: 0 0.5rem;
	font-weight: 200;
	color: var(--primary);
}

#most-recent a:hover {
	font-weight: 400;
	border-bottom: var(--border-dark);
}

/* ABOUT SECTION */
#about {
	width: 70%;
}

#about p {
	padding: 3rem 2rem;
	border: var(--border-dark);
	border-top: none;
	box-shadow: 0 7px 1rem 0.3rem #000;
}

#about span {
	margin-top: 1rem;
	font-size: 0.75rem;
	font-weight: 200;
	text-align: center;
	display: block;
}

/* PROJECTS SECTION */
#projects {
	text-align: center;
	align-items: center;
}

.project {
	height: fit-content;
	width: 80%;
	margin: 2rem 0;
	padding: 1rem;
	background-color: var(--secondary);
	border: var(--border-dark);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.project-thumb {
	height: auto;
	width: 40%;
	margin: 1rem 0;
}

.project-desc {
	width: 40%;
	text-align: left;
	font-weight: 200;
}

.project-links {
	width: 100%;
	margin-top: 1rem;
	align-items: center;
	justify-content: space-around;
}

.project-links a,
form button {
	height: fit-content;
	width: fit-content;
	padding: 0.25rem 1rem;
	font-weight: 200;
	background-color: var(--secondary);
	border: var(--border-dark);
	border-radius: var(--radius);
}

.project-links a:hover,
form button:hover {
	font-weight: 400;
	color: #000;
	background-color: var(--primary);
	border-color: var(--secondary);
	box-shadow: var(--glow-dark);
}

/* CONTACT SECTION */
#contact {
	width: 60%;
	margin: 3rem auto;
}

form {
	margin: 1rem 0;
	padding: 2rem;
	background-color: var(--secondary);
	border: var(--border-dark);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	align-items: center;
}

label {
	font-weight: 300;
}

textarea {
	min-height: 5rem;
}

input,
textarea {
	height: fit-content;
	width: 60%;
	margin: 0.5rem 0 1.5rem 0;
	padding: 0.5rem 0.75rem;
	color: var(--primary);
	background-color: var(--secondary);
	border: 1px solid var(--primary);
	border-radius: var(--radius);
}

input::placeholder,
textarea::placeholder {
	font-weight: 200;
	color: #fff;
}

input:focus,
textarea:focus {
	outline: var(--border-dark);
}

/* FOOTER */
footer {
	height: fit-content;
	width: 100%;
	padding: 1rem;
	text-align: center;
	background-color: var(--secondary);
}

form button {
	cursor: pointer;
	color: #fff;
}

#find-me,
#magic {
	margin: 1rem 0;
	font-weight: 300;
}

#find-me i,
#magic i {
	margin: 0 0.5rem;
	font-size: 1.5rem;
	color: var(--primary);
}

/* LIGHT MODE */
body.light {
	background-color: #cbcbcb;
	color: #000;
}

/* HEADINGS */
body.light h2 {
	color: var(--primary-light);
}

/* LINKS */
body.light a {
	color: #000;
}

/* NAVBAR */
body.light nav {
	background-color: var(--secondary-light);
	border-bottom: var(--border-light);
}

body.light .nav-links a:hover {
	color: var(--primary-light);
}

body.light .active {
	color: var(--primary-light);
	border-bottom-color: var(--primary-light);
}

/* DARK / LIGHT MODE TOGGLER */
body.light #mode-toggler:hover {
	color: var(--primary-light);
}

/* INTRO SECTION */
body.light #intro-btn {
	background-color: var(--secondary-light);
	border: var(--border-light);
}

body.light #intro-btn:hover {
	color: #fff;
	background-color: var(--primary-light);
	border-color: var(--secondary-light);
	box-shadow: var(--glow-light);
}

body.light #most-recent img {
	box-shadow: var(--glow-light);
}

body.light #most-recent a {
	color: var(--primary-light);
}

body.light #most-recent a:hover {
	border-bottom: var(--border-light);
}

/* ABOUT SECTION */
body.light #about p {
	border: var(--border-light);
	border-top: none;
	box-shadow: 0 7px 1rem #000;
}

/* PROJECTS SECTION */
body.light .project {
	background-color: var(--secondary-light);
	border: var(--border-light);
	box-shadow: var(--shadow-light);
}

body.light .project-links a,
body.light form button {
	background-color: var(--secondary-light);
	border: var(--border-light);
}

body.light .project-links a:hover,
body.light form button:hover {
	color: #fff;
	background-color: var(--primary-light);
	border-color: var(--secondary-light);
	box-shadow: var(--glow-light);
}

/* CONTACT SECTION */
body.light form {
	background-color: var(--secondary-light);
	border: var(--border-light);
	box-shadow: var(--shadow-light);
}

body.light input,
body.light textarea {
	color: var(--primary-light);
	background-color: var(--secondary-light);
	border: 1px solid var(--primary-light);
}

body.light input::placeholder,
body.light textarea::placeholder {
	color: #000;
}

body.light input:focus,
body.light textarea:focus {
	outline: var(--border-light);
}

body.light form button {
	color: #000;
}

/* FOOTER */
body.light footer {
	background-color: var(--secondary-light);
}

body.light #find-me i,
body.light #magic i {
	color: var(--primary-light);
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
	.nav-links,
	#intro,
	.project {
		flex-direction: column;
	}

	/* NAV (SIDEBAR) */
	#nav-toggler {
		cursor: pointer;
		height: 2.5rem;
		width: 2.5rem;
		background-color: var(--secondary);
		border: var(--border-dark);
		border-radius: var(--radius);
		display: grid;
		place-items: center;
		position: fixed;
		top: 1rem;
		left: 1rem;
		z-index: 1;
	}

	#nav-toggler .fa-xmark {
		display: none;
	}

	#nav-toggler:hover {
		color: #000;
		background-color: var(--primary);
		border-color: var(--secondary);
		box-shadow: var(--glow-dark);
	}

	body.light #nav-toggler {
		background-color: var(--secondary-light);
		border: var(--border-light);
	}

	body.light #nav-toggler:hover {
		color: #fff;
		background-color: var(--primary-light);
		border-color: var(--secondary-light);
		box-shadow: var(--glow-light);
	}

	nav {
		height: 100vh;
		width: 50%;
		border-bottom: none;
		border-right: var(--border-dark);
		transform: translateX(-105%);
	}

	.sidebar {
		transform: translateX(0);
	}

	body.light nav {
		border-bottom: none;
		border-right: var(--border-light);
	}

	#logo {
		height: 5rem;
		position: absolute;
		top: 1rem;
		left: calc(50% - 2.5rem);
	}

	#mode-toggler {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	.nav-links a {
		margin: 1rem 0;
	}

	#intro-text,
	#most-recent {
		width: 80%;
		margin-bottom: 2rem;
	}

	#about {
		width: 80%;
	}

	.project {
		width: 70%;
	}

	.project-thumb {
		width: 70%;
	}

	.project-desc {
		width: 100%;
		text-align: center;
	}

	#contact {
		width: 80%;
	}
}
